<!-- <header class="masthead clear">
    <div class="centered">
        <div class="site-branding">
            <h1 class="site-title">Rechercher un signalement</h1>
            <nav>
              <ul class="menu">
                <li class="item"><button (click)="click()">Rechercher</button></li>
                <li class="item"><button (click)="liste()">Liste signalements</button></li>
                <li class="item"><button (click)="stat()">Statistiques</button></li>
                <li class="item"><button (click)="carte()">Carte</button></li>
                <li class="item"><button (click)="confirm()">Deconnexion</button></li>
              </ul>
            </nav>
        </div>
    </div>
  </header> -->
<div class="map-wrapper">
    <div class="map-border">
        <div id="map">

        </div>
    </div>
</div>
