/* Import the google web fonts you want to use */

/* Card Based Layout - Base styles */

body {
	background: hsl(0, 0%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.masthead {
	background-color: #14213d;
}

.masthead p, .masthead p a {
  color: white;
}

.site-title {
	color: #fca311;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
  border-radius: 10px;
}


.card {
	background: white;
	margin-bottom: 2em;
  box-shadow: 0px 0px 10px 0px #e5e5e5;
  border-radius: 10px;
  transition: 1s;
  transition-timing-function: ease-in-out;
}

.card:hover {
	background-color: #f0f0f0;
	text-decoration: none;
}

.card a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.card-content {
	padding: 1.4em;
}

.card-content h2 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #14213d;
}

.card-content p {
  overflow-y: scroll;
	font-size: 100%;
  padding: 4em;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #e5e5e5;
  transition: 1s;
  transition-timing-function: ease-in-out;
}
.card-content p::-webkit-scrollbar{
  display: none;
}
.card-content p:hover{
  background-color: white;
}
.card-content li{
  display: block;
  text-decoration: none;
  color: #616161;
  text-align: center;


}
/* Flexbox stuff */

@media screen and (min-width: 40em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        flex: 0 1 calc(50% - 1em);
    }
}

@media screen and (min-width: 60em) {

    .card {
        flex: 0 1 calc(25% - 1em);
    }
}

nav {
  background: #14213d;
  padding: 0 15px;
}
.menu button{
  color: #14213d;
  background-color: #e5e5e5;
  justify-content: center;
  transition: 0.6s;
  transition-timing-function: ease-in-out;
}
.menu button:hover{
  background-color: #fca311;
  color: white;
}
button {
  font-weight: 600;
  text-align: center;
  font-size: 19px;
  color: #14213d;
  background-color: #e5e5e5;
  border: none;
  border-radius: 4px;
  padding: 0.7em;
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  overflow: hidden;
  transition: all 200ms ease-in-out;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
}
button:hover{
  transition: 0.6s;
  transition-timing-function: ease-in-out;
  background-color: #14213d;
  color: #fca311;
}
.menu {
  list-style-type: none;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li button {
  display: inline-block;
  padding: 10px 10px;
}
.icon-bar {
  margin-left: 22%;
  display:flex;
  flex-wrap: wrap;
}
.icon-bar ul li:hover{
  background-color: #14213d;
}
.icon-bar ul li {
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fca311;
  text-align: center;
  border-radius: 50px;
  padding: 10px 18px;
  transition: 0.6s;
  transition-timing-function: ease-in-out;
}

.icon-bar a {
  text-decoration: none;
  padding: 16px;
  color: black;
  font-family:  Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition: 0.6s;
  transition-timing-function: ease-in-out;
}

.icon-bar a:hover {
  color: #e5e5e5;
  letter-spacing: 2px;
}
