/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";

.map-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0;
  margin: 0px;
}

.map-border {
  border: 0px solid rgb(187, 187, 186);
  height: 100%;
}

#map {
  height: 100%;
}
